version: 2
updates:
- package-ecosystem: nuget
  directories:
    - "src/Pure.RelationalSchema.Storage.Abstractions.Serialization.System"
    - "src/Tests/Pure.RelationalSchema.Storage.Abstractions.Serialization.System.Test"
  schedule:
    interval: daily
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
